/*
Theme Name:    Divi_extend
Version: 1.0
Theme URI:     for 長泰教養院
Description:   擴充Divi佈景,相關修改都放這,請勿刪除Divi原佈景
Author:        JAY
Template:      Divi
*/
@import url("../Divi/style.css");
@import url(./CSS-add-to-custom-css-panel.css);
@import url(./CSS-add-to-custom-css-panel2.css);
/*
字體改為web font :思源黑體
*/
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

/*
能特殊加入的class
大slide字體左下放:top_big_slide_left_down
大slide高度大一點:et_fullscreen_slider
介紹slider(非full width)的圖片擴張到模塊：slide_custom1

*/
/*------------------------------全站設定---------------*/
body{
   
	font-family: 'Noto Sans TC', sans-serif,"微軟正黑體";

}
#breadcrumb{padding-left:5vw;}
/*
footer調整
*/
#main-footer{overflow: hidden;}
#copyright{text-align:center;margin-top:2%;clear: both;}
#footer_nav{color:#fff;}
#footer_nav a{color:#fff;}
#footer-bottom{background:none;}


@keyframes header_contact_animate_l {
  from { padding: 5px 10px;}
  to {padding: 17px 10px; }
}
@keyframes header_contact_animate_s {
  from { padding: 17px 10px;}
  to {padding: 5px 10px; }
}
#header_contact
{ 

	background: #f00;
    color: #fff;
    padding: 17px 10px;

    right: 0;
    z-index: 9999999;
    position: absolute;
    top: 0px;
	animation-name: header_contact_animate_l;
	animation-duration: 0.5s;
}
.et-fixed-header #header_contact{
	padding: 5px 10px; 
	animation-name: header_contact_animate_s;
	animation-duration: 0.5s;
}
@media (max-width: 479px)
{
	
	#header_contact{right: 24%;}
}
@media (min-width: 768px)
{
	
}

@media (min-width: 981px)
{
	
	
}

